/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Header Navigation */

    header .navbar {
        padding: 0;
        height: 104px;
    }
    
    header .navbar .navbar-brand {
        padding: 0;
    }

    header .navbar-nav .nav-item + .nav-item {
        margin-left: 30px;
    }
    
    header .navbar-nav .nav-item .nav-link,
    header .navbar .btn-link {
        border-bottom: 3px solid transparent;
        color: var(--white-color);
        padding: 40px 8px 36px;
    }
    
    header .navbar-nav .nav-item .nav-link.active,
    header .navbar .btn-link.active {
        border-color: var(--light-green-color);
        color: var(--light-green-color);
        font-weight: 700;
    }
    
    header .navbar .btn {
        height: max-content;
    }

    
    /* Home Section 1 - Hero Banner */

    #home-section-1 {
        padding-bottom: 210px;
    }

    .hero-banner-style-1 .details-col {
        position: absolute;
        top: 360px;
    }


    /* Home Section 3 - Two Col Text with Image Style 1 */

    .two-col-text-with-image-style-1 .text-col-1,
    .two-col-text-with-image-style-1 .text-col-2 {
        padding-right: 30px;
    }

    .two-col-text-with-image-style-1 .text-col-2 {
        position: absolute;
        top: 320px;
    }

    /* Home Section 4 - Icon Card with Text Style 1 */

    #home-section-4 {
        margin-top: 500px;
    }

    /* Home Section 5 - Images Gallery Style 1 */

    #home-section-5 {
        margin-top: 20px;
    }

    /* Gallery Section 2 - Images Gallery Style 1 */

    #gallery-section-2 {
        margin-top: 50px;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Home Section 1 - Hero Banner */

    #home-section-1 {
        padding-bottom: 50px;
    }

    .hero-banner-style-1 .details-col {
        top: 280px;
    }   
    

    /* Home Section 3 - Two Col Text with Image Style 1 */

    .two-col-text-with-image-style-1 .text-col-2 {
        top: 280px;
    }

    /* Home Section 4 - Icon Card with Text Style 1 */

    #home-section-4 {
        margin-top: 400px;
    }

}

/* // XXX-Large devices (Extra larger desktops, 1600px and up) */
@media (min-width: 1600px) {
    .two-col-text-with-image-style-1 .text-col-2 {
        top: 320px;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Commons */

    .heading-1 {
        font-size: 45px;
        line-height: 55px;
    }

    .heading-2 {
        font-size: 40px;
        line-height: 50px;
    }

    .heading-6 {
        line-height: 30px;
    }    

    .form-style-2 [class*="col-"] > .form-link {
        text-align: left;
    }

    .login-register-form {
        padding: 30px 0;
    }

    /* Header Navigation */

    header .navbar .navbar-brand img {
        width: 146px;
        height: 80px;
    }

    header .navbar-toggler {
        background: #D1E758;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
    }

    header .navbar-toggler i {
        color: var(--secondary-color);
        font-size: 30px;
    }

    header .navbar-toggler img {
        width: 30px;
        height: 18px;
    }

    header .navbar-nav .nav-item + .nav-item {
        margin-top: 10px;
    }

    header .navbar-nav .nav-item .nav-link {
        text-align: center;
    }

    header .navbar-nav .nav-item .nav-link.active,
    header .navbar .btn-link.active {
        color: var(--light-green-color);
    }

    header .offcanvas-header .btn-close {
        background: none;
        width: auto;
        height: auto;
    }

    header .offcanvas-header .btn-close i {
        color: var(--primary-color);
        font-size: 28px;
    }

    header .navbar .navbar-extra {
        margin-top: 30px;
    }


    /* Home Section 1 - Hero Banner */

    .hero-banner-style-1 .section-title {
        text-align: center;
        margin-top: 40px;
    }

    .hero-banner-style-1 .hero-image {
        text-align: center;
    }

    .hero-banner-style-1 .hero-image img {
        width: 400px;
        margin-top: 10px;
    }

    .hero-banner-style-1 .wrapper {
        text-align: center;
        margin-top: 30px;
    }

    .hero-banner-style-1 .details-col .input-group {
        width: 360px;
        max-width: 100%;
        margin: 0 auto;
    }

    .hero-banner-style-1 .rating-group-wrapper {
        justify-content: center;
    }


    /* Home Section 2 - Two Col Text Style 1 */
    
    .two-col-text-style-1 {
        background: none;
    }

    .two-col-text-style-1 .row .col-xl-6:first-child {
        background: rgba(241,248,255,1);
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .two-col-text-style-1 .row .col-xl-6:first-child .section-sub-title {
        margin-bottom: 20px;
    }

    .two-col-text-style-1 .row .col-xl-6:first-child p {
        margin-bottom: 30px;
    }

    .two-col-text-style-1 .row .col-xl-6:nth-child(2) .section-title {
        justify-content: center;
    }

    .two-col-text-style-1 .row .col-xl-6:nth-child(2) {
        background: rgba(221,236,255,1);
        padding: 50px 12px;
        text-align: center;
    }

    .two-col-text-with-image-style-1 .text-col-1 {
        width: max-content;
        margin: 0 auto 20px;
    }

    .two-col-text-with-image-style-1 .img-col {
        margin-bottom: 20px;
    }


    /* Home Section 3 - Two Col Text with Image Style 1 */

    .two-col-text-with-image-style-1 .row {
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .two-col-text-with-image-style-1 .row .text-col-2 {
        margin-top: 20px;
    }

    .icon-card-with-text-style-1 .card .card-img-top {
        width: 105px;
    }

    /* Home Section 4 - Icon Card with Text Style 1 */

    #home-section-4 {
        margin-top: 0;
    }

    /* Home Section 5 - Images Gallery Style 1 */

    .images-gallery-style-1 .images-row [class*="col-"] {
        display: flex;
        justify-content: center;
    }

    .images-gallery-style-1 .row .image-wrapper {
        width: max-content;
    }

    .images-gallery-style-1 .row .image-wrapper img {
        width: 370px;
    }

    .images-gallery-style-1 .row .image-wrapper .text-with-overlay {
        opacity: 1;
    }


    /* Privacy Policy Section 2 - Main Content Text */
    
    .main-content-text .section-title.heading-2 {
        font-size: 30px;
    }

    .main-content-text .section-title.heading-3 {
        font-size: 23px;
    }

    
    /* Reviews Section 2 - Reviews Style 1 */

    .reviews-style-1 .card .date-wrapper {
        text-align: left;
    }

    .reviews-style-1 .card .date-wrapper {
        margin-top: 25px;
    }
    

    /* Footer and Navigation */

    footer .row .brand-logo-col {
        text-align: center;
    }

    footer .brand-logo {
        width: 200px;
        max-width: 100%;
    }

    footer .row [class*="col-"] + [class*="col-"] {
        /* display: grid;
        justify-content: center; */
        margin-top: 30px;
    }

    footer .row + .row .order-1 {
        margin-top: 0;
        text-align: center;
    }

    footer .row + .row .order-2 {
        margin-top: 20px;
        text-align: center;
    }

}